/* Add CSS Styling */
.odd {
    background-color: #ff7f7f;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

.three {
    font-size: 24px;
}