/* Add CSS Styling */
.yes {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.no {
    background-color: hsl(60, 100%, 50%);
}

.yes,
.no {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}