body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

h1 {
  margin: 0px; /* Reset h1 margin */
}

.title {
  background: #e3f4ff;
  font-size: 17px;
  margin-top: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px 0px;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 10px;
}